@{
    ViewBag.Title = "Trang chủ";
}

<!--====== PRODUCT PART START ======-->
<section id="pricing" class="pricing-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-10 mx-auto">
                <div class="section-title text-center">
                    <h2 class="mb-30 wow fadeInUp" data-wow-delay=".2s">Nông sản - Hoa quả sạch</h2>
                    <p class="mb-50 wow fadeInUp" data-wow-delay=".4s">Nông sản - Hoa quả sạch - Giá cả hợp lý</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="pricing-nav">
                    <ul class="nav nav-pills justify-content-center align-items-center mb-50 wow fadeInUp"
                        data-wow-delay=".2s" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-month-tab" data-toggle="pill" href="#pills-month"
                               role="tab" aria-controls="pills-month" aria-selected="true">Mới nhất</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-year-tab" data-toggle="pill" href="#pills-year" role="tab"
                               aria-controls="pills-year" aria-selected="false">Giá tốt nhất</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade price-tab show active" id="pills-month" role="tabpanel"
                             aria-labelledby="pills-month-tab">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <a href="#"><img class="mb-15" src="/assets/images/Cach-chon-dua-hau-ngon-3-1024x680.jpg" alt=""></a>
                                        <h4 class="package-name mb-15"><a style="text-decoration: none;" href="#">Chuối abc - Oganic</a></h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia earum necessitatibus eius eveniet eligendi deleniti quo blanditiis vitae ipsum asperiores! In accusantium deserunt repellendus quibusdam quasi nostrum provident, nam voluptatum?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <a href="#"><img class="mb-15" src="/assets/images/chuoi.jpg" alt=""></a>
                                        <h4 class="package-name mb-15">Dưa hấu</h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis provident quia saepe unde cupiditate
                                                voluptates repellat quod excepturi cumque sint, assumenda ea! Quas qui libero expedita exercitationem
                                                repudiandae voluptatem sint?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <a href="#"><img class="mb-15" src="/assets/images/Cach-chon-dua-hau-ngon-3-1024x680.jpg" alt=""></a>
                                        <h4 class="package-name mb-15">Chuối abc - Oganic</h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis provident quia saepe unde cupiditate
                                                voluptates repellat quod excepturi cumque sint, assumenda ea! Quas qui libero expedita exercitationem
                                                repudiandae voluptatem sint?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <a href="#"><img class="mb-15" src="/assets/images/chuoi.jpg" alt=""></a>
                                        <h4 class="package-name mb-15">Dưa hấu</h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis provident quia saepe unde cupiditate
                                                voluptates repellat quod excepturi cumque sint, assumenda ea! Quas qui libero expedita exercitationem
                                                repudiandae voluptatem sint?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <img class="mb-15" src="/assets/images/chuoi.jpg" alt="" style="">
                                        <h4 class="package-name mb-15">Chuối abc - Oganic</h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis provident quia saepe unde cupiditate
                                                voluptates repellat quod excepturi cumque sint, assumenda ea! Quas qui libero expedita exercitationem
                                                repudiandae voluptatem sint?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <a href="#"><img class="mb-15" src="/assets/images/chuoi.jpg" alt=""></a>
                                        <h4 class="package-name mb-15">Dưa hấu</h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis provident quia saepe unde cupiditate
                                                voluptates repellat quod excepturi cumque sint, assumenda ea! Quas qui libero expedita exercitationem
                                                repudiandae voluptatem sint?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <img class="mb-15" src="/assets/images/chuoi.jpg" alt="" style="">
                                        <h4 class="package-name mb-15">Chuối abc - Oganic</h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis provident quia saepe unde cupiditate
                                                voluptates repellat quod excepturi cumque sint, assumenda ea! Quas qui libero expedita exercitationem
                                                repudiandae voluptatem sint?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <a href="#"><img class="mb-15" src="/assets/images/chuoi.jpg" alt=""></a>
                                        <h4 class="package-name mb-15">Dưa hấu</h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis provident quia saepe unde cupiditate
                                                voluptates repellat quod excepturi cumque sint, assumenda ea! Quas qui libero expedita exercitationem
                                                repudiandae voluptatem sint?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <img class="mb-15" src="/assets/images/chuoi.jpg" alt="" style="">
                                        <h4 class="package-name mb-15">Chuối abc - Oganic</h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis provident quia saepe unde cupiditate
                                                voluptates repellat quod excepturi cumque sint, assumenda ea! Quas qui libero expedita exercitationem
                                                repudiandae voluptatem sint?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <a href="#"><img class="mb-15" src="/assets/images/chuoi.jpg" alt=""></a>
                                        <h4 class="package-name mb-15">Dưa hấu</h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis provident quia saepe unde cupiditate
                                                voluptates repellat quod excepturi cumque sint, assumenda ea! Quas qui libero expedita exercitationem
                                                repudiandae voluptatem sint?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <img class="mb-15" src="/assets/images/chuoi.jpg" alt="" style="">
                                        <h4 class="package-name mb-15">Chuối abc - Oganic</h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis provident quia saepe unde cupiditate
                                                voluptates repellat quod excepturi cumque sint, assumenda ea! Quas qui libero expedita exercitationem
                                                repudiandae voluptatem sint?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-price text-center active wow fadeInUp" data-wow-delay=".4s">
                                        <a href="#"><img class="mb-15" src="/assets/images/chuoi.jpg" alt=""></a>
                                        <h4 class="package-name mb-15">Dưa hấu</h4>
                                        <p class="package-name mb-15">Trái cây</p>
                                        <h4 class="package-oldprice mb-15"><del>200,000đ</del></h4>
                                        <h4 class="package-price mb-15">129,000đ</h4>
                                        <div class="clearfix">
                                            <ul class="package-details">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis provident quia saepe unde cupiditate
                                                voluptates repellat quod excepturi cumque sint, assumenda ea! Quas qui libero expedita exercitationem
                                                repudiandae voluptatem sint?
                                            </ul>
                                        </div>
                                        <a href="#" class="btn-hover price-btn main-btn"><i class="lni lni-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-40 align-content-center">
                                <div class="pagination">
                                    <a href="#">&laquo;</a>
                                    <a class="active" href="#">1</a>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">6</a>
                                    <a href="#">&raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--====== PRODUCT PART ENDS ======-->
@section scripts{

    <script>
        $('body').on('click', '.price-btn', function (e) {
            e.preventDefault();
            //var id = $(this).data('id');
            //$.ajax({
            //    url: '/Cart/RemoveFromCart',
            //    type: 'post',
            //    data: {
            //        TourId: id
            //    },
            //    success: function () {
            //        $.notify('Đã xóa.', 'success');
            //        loadHeaderCart();
            //        loadData();
            //    }
            //});
            app.notify("Đã thêm", "success");
        });
    </script>
}
