<!--====== FOOTER PART START ======-->
<footer id="footer" class="footer-area bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
                    <a href="#" class="mb-35 d-block"><img src="~/assets/images/logo.svg" alt=""> </a>
                    <p class="mb-35">Đây là slogan của trang web.</p>
                    <ul class="social-links">
                        <li><a href="#" class="facebook"><i class="lni lni-facebook-original"></i></a></li>
                        <li><a href="#" class="twitter"><i class="lni lni-twitter-original"></i></a></li>
                        <li><a href="#" class="instagram"><i class="lni lni-instagram-original"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="lni lni-linkedin-original"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-lg-4 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
                    <h4>Danh mục</h4>
                    <ul>
                        <li><a href="#">Trái Cây</a></li>
                        <li><a href="#">Hoa quả</a></li>
                        <li><a href="#">Các sản phẩm trái cây</a></li>
                        <li><a href="#">Các sản phẩm hoa quả</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".8s">
                    <h4>Đăng ký nhận quảng cáo</h4>
                    <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          target="_blank" novalidate class="subscribe-form validate">

                        <input type="email" name="EMAIL" id="EMAIL" class="required email"
                               placeholder="Địa chỉ email">

                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text"
                                   name="b_4dbefd9d3a1d6a570020b1e85_e16d098ae8" tabindex="-1" value="">
                        </div>
                        <button id="subscribe" class="btn-hover main-btn text-right" type="submit">Gửi</button>

                    </form>
                </div>
            </div>
        </div>
        <!-- Vui lòng không xóa đoạn này -->
        <div class="footer-cradit">
            <p class="text-center mb-0">
                Designed and Developed by <a href="https://uideck.com"
                                             rel="nofollow">UIdeck</a>
            </p>
        </div>
        <!-- Vui lòng không xóa đoạn này -->
    </div>
</footer>
<!--====== FOOTER PART ENDS ======-->